{% extends "layout.html" %}

{% block title %}Arena{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="head">
                <div>
                    <div style="float:left">
                        <h1>Arena: <b>{{arena}}</b></h1>
                    </div>
                </div>

            </div>

            <table id="results_table" class="table table-hover">
            </table>
        </div>

        <script language="JavaScript">
            function loadTable() {
                $('#results_table').load('/results_table');
            }

            function setValue(id, value) {
                $('#' + id).text(value);
            }

            setInterval(loadTable, 1000);
            loadTable();
        </script>
    </div>
</div>

{% endblock %}